.testimonial img {
height: 200px;
width: 200px;
}
#testimonial1Carousel img {
    height: 150px;
    width: 300px;
    background-color: transparent;
    }
.testimonials h2{
    color: #FF66C4;
}
.testimonials .carousel-item {
    content: "";
    position: relative;
    background:url(./img/bg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #fff;
    z-index: 2;
}
.carousel-control-next, .carousel-control-prev  {
    z-index: 20;
}

.testimonials .carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #FF66C4;
    height: 100%;
    opacity: 0.7; /* Adjust opacity as needed */
    z-index: -1;
 /* Place behind the content */
}
 
.ourBest img{
    width: 100%;
    height: 297px;
}
.ourBest .btn{
    background-color: #FF66C4;
    color: #fff;
}
.product{
    box-shadow: 2px #000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 2%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    align-items: center;
}
.ourBest h2{
    color: #FF66C4;
}
.counterDiv span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.counterDiv h2{
    color: #FF66C4;
}
.counterDiv h3{
    margin-bottom: 0;
}
.blog h2{
    color: #FF66C4;
}
.blog .btn{
    background-color: #FF66C4;
    color: #fff;
}